<?xml version="1.0"?>
<config>
    <modules>
        <Ess_M2ePro>
            <version>5.2.5</version>
        </Ess_M2ePro>
    </modules>
    <default>
        <carriers>
            <m2eproshipping>
                <active>1</active>
                <allowed_methods>m2eproshipping</allowed_methods>
                <methods>m2eproshipping</methods>
                <sallowspecific>0</sallowspecific>
                <model>Ess_M2ePro_Model_Magento_Shipping</model>
                <name>M2E Pro Shipping</name>
                <title>M2E Pro Shipping</title>
                <handling_type>F</handling_type>
            </m2eproshipping>
        </carriers>
        <payment>
            <m2epropayment>
                <active>1</active>
                <model>Ess_M2ePro_Model_Magento_Payment</model>
                <order_status>pending</order_status>
                <title>M2E Pro Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </m2epropayment>
        </payment>
    </default>
    <frontend>
        <routers>
            <M2ePro>
                <use>m2epro_custom</use>
                <args>
                    <module>Ess_M2ePro</module>
                    <frontName>m2epro</frontName>
                </args>
            </M2ePro>
        </routers>
    </frontend>
    <admin>
        <routers>
            <M2ePro>
                <use>admin</use>
                <args>
                    <module>Ess_M2ePro</module>
                    <frontName>M2ePro</frontName>
                </args>
            </M2ePro>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Ess_M2ePro>
                    <files>
                        <default>Ess_M2ePro.csv</default>
                    </files>
                </Ess_M2ePro>
            </modules>
        </translate>
        <menu>
            <m2epro module="M2ePro">
                <title>Sell On Multi-Channels</title>
                <sort_order>71</sort_order>
                <children>

                    <listings module="M2ePro">
                        <title>Manage Listings</title>
                        <sort_order>1</sort_order>
                        <children>
                            <listing module="M2ePro">
                                <title>Listings</title>
                                <sort_order>1</sort_order>
                                <action>M2ePro/adminhtml_listing/index</action>
                            </listing>
                            <listing_other module="M2ePro">
                                <title>3rd Party Listings</title>
                                <sort_order>2</sort_order>
                                <action>M2ePro/adminhtml_listingOther/index</action>
                            </listing_other>
                        </children>
                    </listings>

                    <sales module="M2ePro">
                        <title>Sales</title>
                        <sort_order>2</sort_order>
                        <children>
                            <order module="M2ePro">
                                <title>Orders</title>
                                <sort_order>1</sort_order>
                                <action>M2ePro/adminhtml_order/index</action>
                            </order>
                            <analytic module="M2ePro">
                                <title>Analytics</title>
                                <sort_order>2</sort_order>
                                <action>M2ePro/adminhtml_analytic/index</action>
                            </analytic>
                        </children>
                    </sales>

                    <communication module="M2ePro">
                        <title>Communication</title>
                        <sort_order>3</sort_order>
                        <children>
                            <feedback module="M2ePro">
                                <title>Feedbacks</title>
                                <sort_order>1</sort_order>
                                <action>M2ePro/adminhtml_ebay_feedback/index</action>
                            </feedback>
                            <my_message module="M2ePro">
                                <title>My Messages</title>
                                <sort_order>2</sort_order>
                                <action>M2ePro/adminhtml_ebay_message/index</action>
                            </my_message>
                        </children>
                    </communication>

                    <templates module="M2ePro">
                        <title>Templates</title>
                        <sort_order>4</sort_order>
                        <children>
                            <selling_format module="M2ePro">
                                <title>Selling Format Templates</title>
                                <sort_order>1</sort_order>
                                <action>M2ePro/adminhtml_template_sellingFormat/index</action>
                            </selling_format>
                            <description module="M2ePro">
                                <title>Description Templates</title>
                                <sort_order>2</sort_order>
                                <action>M2ePro/adminhtml_template_description/index</action>
                            </description>
                            <general module="M2ePro">
                                <title>General Templates</title>
                                <sort_order>3</sort_order>
                                <action>M2ePro/adminhtml_template_general/index</action>
                            </general>
                            <synchronization module="M2ePro">
                                <title>Synchronization Templates</title>
                                <sort_order>4</sort_order>
                                <action>M2ePro/adminhtml_template_synchronization/index</action>
                            </synchronization>
                        </children>
                    </templates>

                    <logs module="M2ePro">
                        <title>Activity Logs</title>
                        <sort_order>5</sort_order>
                        <children>
                            <listing module="M2ePro">
                                <title>Listings Log</title>
                                <sort_order>1</sort_order>
                                <action>M2ePro/adminhtml_log/listing</action>
                            </listing>
                            <listing_other module="M2ePro">
                                <title>3rd Party Listings Log</title>
                                <sort_order>2</sort_order>
                                <action>M2ePro/adminhtml_log/listingOther</action>
                            </listing_other>
                            <synchronization module="M2ePro">
                                <title>Synchronization Log</title>
                                <sort_order>3</sort_order>
                                <action>M2ePro/adminhtml_log/synchronization</action>
                            </synchronization>
                            <order module="M2ePro">
                                <title>Orders Log</title>
                                <sort_order>4</sort_order>
                                <action>M2ePro/adminhtml_log/order</action>
                            </order>
                        </children>
                    </logs>

                    <configuration module="M2ePro">
                        <title>Configuration</title>
                        <sort_order>6</sort_order>
                        <children>
                            <account module="M2ePro">
                                <title>Accounts</title>
                                <sort_order>1</sort_order>
                                <action>M2ePro/adminhtml_account/index</action>
                            </account>
                            <marketplace module="M2ePro">
                                <title>Marketplaces</title>
                                <sort_order>2</sort_order>
                                <action>M2ePro/adminhtml_marketplace/index</action>
                            </marketplace>
                            <synchronization module="M2ePro">
                                <title>Synchronization</title>
                                <sort_order>3</sort_order>
                                <action>M2ePro/adminhtml_synchronization/index</action>
                            </synchronization>
                            <log_cleaning module="M2ePro">
                                <title>Logs Clearing</title>
                                <sort_order>4</sort_order>
                                <action>M2ePro/adminhtml_logCleaning/index</action>
                            </log_cleaning>
                            <settings module="M2ePro">
                                <title>Settings</title>
                                <sort_order>5</sort_order>
                                <action>M2ePro/adminhtml_settings/index</action>
                            </settings>
                            <license module="M2ePro">
                                <title>License</title>
                                <sort_order>6</sort_order>
                                <action>M2ePro/adminhtml_license/index</action>
                            </license>
                        </children>
                    </configuration>

                    <help module="M2ePro">
                        <title>Help</title>
                        <sort_order>7</sort_order>
                        <children>
                            <doc module="M2ePro">
                                <title>Documentation</title>
                                <sort_order>1</sort_order>
                                <action>M2ePro/adminhtml_support/index</action>
                            </doc>
                            <tutorial module="M2ePro">
                                <title>Video Tutorials</title>
                                <sort_order>2</sort_order>
                                <action>M2ePro/adminhtml_support/index</action>
                            </tutorial>
                            <!--
                            <translation module="M2ePro">
                                <title>Translation</title>
                                <sort_order>3</sort_order>
                                <action>M2ePro/adminhtml_translation/index</action>
                            </translation>
                            -->
                            <support module="M2ePro">
                                <title>Support</title>
                                <sort_order>4</sort_order>
                                <action>M2ePro/adminhtml_support/index</action>
                            </support>
                            <about module="M2ePro">
                                <title>About</title>
                                <sort_order>5</sort_order>
                                <action>M2ePro/adminhtml_about/index</action>
                            </about>
                        </children>
                    </help>

                </children>
            </m2epro>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <m2epro>
                            <title>Sell On Multi-Channels</title>
                            <sort_order>71</sort_order>
                            <children>

                                <listings>
                                    <title>Manage Listings</title>
                                    <sort_order>1</sort_order>
                                    <children>
                                        <listing>
                                            <title>Listings</title>
                                            <sort_order>1</sort_order>
                                        </listing>
                                        <listing_other>
                                            <title>3rd Party Listings</title>
                                            <sort_order>2</sort_order>
                                        </listing_other>
                                    </children>
                                </listings>

                                <sales>
                                    <title>Sales</title>
                                    <sort_order>2</sort_order>
                                    <children>
                                        <order>
                                            <title>Orders</title>
                                            <sort_order>1</sort_order>
                                        </order>
                                        <analytic>
                                            <title>Analytics</title>
                                            <sort_order>2</sort_order>
                                        </analytic>
                                    </children>
                                </sales>

                                <communication>
                                    <title>Communication</title>
                                    <sort_order>3</sort_order>
                                    <children>
                                        <feedback>
                                            <title>Feedbacks</title>
                                            <sort_order>1</sort_order>
                                        </feedback>
                                        <my_message>
                                            <title>My Messages</title>
                                            <sort_order>2</sort_order>
                                        </my_message>
                                    </children>
                                </communication>

                                <templates>
                                    <title>Templates</title>
                                    <sort_order>4</sort_order>
                                    <children>
                                        <selling_format>
                                            <title>Selling Format Templates</title>
                                            <sort_order>1</sort_order>
                                        </selling_format>
                                        <description>
                                            <title>Description Templates</title>
                                            <sort_order>2</sort_order>
                                        </description>
                                        <general>
                                            <title>General Templates</title>
                                            <sort_order>3</sort_order>
                                        </general>
                                        <synchronization>
                                            <title>Synchronization Templates</title>
                                            <sort_order>4</sort_order>
                                        </synchronization>
                                    </children>
                                </templates>

                                <logs>
                                    <title>Activity Logs</title>
                                    <sort_order>5</sort_order>
                                    <children>
                                        <listing>
                                            <title>Listings Log</title>
                                            <sort_order>1</sort_order>
                                        </listing>
                                        <listing_other>
                                            <title>3rd Party Listings Log</title>
                                            <sort_order>2</sort_order>
                                        </listing_other>
                                        <synchronization>
                                            <title>Synchronization Log</title>
                                            <sort_order>3</sort_order>
                                        </synchronization>
                                        <order>
                                            <title>Orders Log</title>
                                            <sort_order>4</sort_order>
                                        </order>
                                    </children>
                                </logs>

                                <configuration>
                                    <title>Configuration</title>
                                    <sort_order>6</sort_order>
                                    <children>
                                        <account>
                                            <title>Accounts</title>
                                            <sort_order>1</sort_order>
                                        </account>
                                        <marketplace>
                                            <title>Marketplaces</title>
                                            <sort_order>2</sort_order>
                                        </marketplace>
                                        <synchronization>
                                            <title>Synchronization</title>
                                            <sort_order>3</sort_order>
                                        </synchronization>
                                        <log_cleaning>
                                            <title>Logs Clearing</title>
                                            <sort_order>4</sort_order>
                                        </log_cleaning>
                                        <settings>
                                            <title>Settings</title>
                                            <sort_order>5</sort_order>
                                        </settings>
                                        <license>
                                            <title>License</title>
                                            <sort_order>6</sort_order>
                                        </license>
                                    </children>
                                </configuration>

                                <help>
                                    <title>Help</title>
                                    <sort_order>7</sort_order>
                                    <children>
                                        <doc>
                                            <title>Documentation</title>
                                            <sort_order>1</sort_order>
                                        </doc>
                                        <tutorial>
                                            <title>Video Tutorials</title>
                                            <sort_order>2</sort_order>
                                        </tutorial>
                                        <!--
                                        <translation>
                                            <title>Translation</title>
                                            <sort_order>3</sort_order>
                                        </translation>
                                        -->
                                        <support>
                                            <title>Support</title>
                                            <sort_order>4</sort_order>
                                        </support>
                                        <about>
                                            <title>About</title>
                                            <sort_order>5</sort_order>
                                        </about>
                                    </children>
                                </help>

                            </children>
                        </m2epro>

                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <M2ePro>
                    <file>M2ePro.xml</file>
                </M2ePro>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>

            <catalog_product_save_before>
                <observers>
                    <ess_M2ePro_observer_product>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Product</class>
                        <method>catalogProductSaveBefore</method>
                    </ess_M2ePro_observer_product>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <ess_M2ePro_observer_product>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Product</class>
                        <method>catalogProductSaveAfter</method>
                    </ess_M2ePro_observer_product>
                </observers>
            </catalog_product_save_after>

            <catalog_product_delete_before>
                <observers>
                    <ess_M2ePro_observer_product>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Product</class>
                        <method>catalogProductDeleteBefore</method>
                    </ess_M2ePro_observer_product>
                </observers>
            </catalog_product_delete_before>
            <catalog_category_change_products>
                <observers>
                    <ess_M2ePro_observer_category>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Category</class>
                        <method>catalogCategoryChangeProducts</method>
                    </ess_M2ePro_observer_category>
                </observers>
            </catalog_category_change_products>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <ess_M2ePro_observer_stock_item>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_StockItem</class>
                        <method>catalogInventoryStockItemSaveAfter</method>
                    </ess_M2ePro_observer_stock_item>
                </observers>
            </cataloginventory_stock_item_save_after>

            <sales_order_invoice_pay>
                <observers>
                    <ess_M2ePro_observer_invoice>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Invoice</class>
                        <method>salesOrderInvoicePay</method>
                    </ess_M2ePro_observer_invoice>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_shipment_save_after>
                <observers>
                    <ess_M2ePro_observer_shipment>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Shipment</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </ess_M2ePro_observer_shipment>
                </observers>
            </sales_order_shipment_save_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <ess_M2ePro_observer_order>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Order</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </ess_M2ePro_observer_order>
                </observers>
            </sales_convert_quote_item_to_order_item>

            <m2epro_associate_ebay_order_item_to_product>
                <observers>
                    <ess_M2ePro_observer_ebay_order_product>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Ebay_Order_Item</class>
                        <method>associateItemWithProduct</method>
                    </ess_M2ePro_observer_ebay_order_product>
                </observers>
            </m2epro_associate_ebay_order_item_to_product>
            <m2epro_associate_amazon_order_item_to_product>
                <observers>
                    <ess_M2ePro_observer_amazon_order_product>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Amazon_Order_Item</class>
                        <method>associateItemWithProduct</method>
                    </ess_M2ePro_observer_amazon_order_product>
                </observers>
            </m2epro_associate_amazon_order_item_to_product>
            <m2epro_associate_buy_order_item_to_product>
                <observers>
                    <ess_M2ePro_observer_buy_order_product>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Buy_Order_Item</class>
                        <method>associateItemWithProduct</method>
                    </ess_M2ePro_observer_buy_order_product>
                </observers>
            </m2epro_associate_buy_order_item_to_product>
            <m2epro_associate_play_order_item_to_product>
                <observers>
                    <ess_M2ePro_observer_play_order_product>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Play_Order_Item</class>
                        <method>associateItemWithProduct</method>
                    </ess_M2ePro_observer_play_order_product>
                </observers>
            </m2epro_associate_play_order_item_to_product>
            <m2epro_amazon_fba_magento_order_place_after>
                <observers>
                    <revert_ordered_qty>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_Amazon_Order</class>
                        <method>revertOrderedQty</method>
                    </revert_ordered_qty>
                </observers>
            </m2epro_amazon_fba_magento_order_place_after>

            <m2epro_synchronization_before_start>
                <observers>
                    <disable_stock_item_automatic_reindex>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_StockItem</class>
                        <method>disableAutomaticReindex</method>
                    </disable_stock_item_automatic_reindex>
                </observers>
            </m2epro_synchronization_before_start>
            <m2epro_synchronization_after_end>
                <observers>
                    <enable_stock_item_automatic_reindex>
                        <type>singleton</type>
                        <class>Ess_M2ePro_Model_Observer_StockItem</class>
                        <method>enableAutomaticReindex</method>
                    </enable_stock_item_automatic_reindex>
                </observers>
            </m2epro_synchronization_after_end>

        </events>
        <models>
            <M2ePro>
                <class>Ess_M2ePro_Model</class>
                <resourceModel>M2ePro_mysql4</resourceModel>
            </M2ePro>
            <M2ePro_mysql4>
                <class>Ess_M2ePro_Model_Mysql4</class>
                <entities>

                    <!-- GENERAL -->

                    <Config_Ess>
                        <table>ess_config</table>
                    </Config_Ess>
                    <Config_Module>
                        <table>m2epro_config</table>
                    </Config_Module>

                    <LockItem>
                        <table>m2epro_lock_item</table>
                    </LockItem>
                    <LockedObject>
                        <table>m2epro_locked_object</table>
                    </LockedObject>
                    <ProductChange>
                        <table>m2epro_product_change</table>
                    </ProductChange>
                    <AttributeSet>
                        <table>m2epro_attribute_set</table>
                    </AttributeSet>

                    <Synchronization_Log>
                        <table>m2epro_synchronization_log</table>
                    </Synchronization_Log>
                    <Synchronization_Run>
                        <table>m2epro_synchronization_run</table>
                    </Synchronization_Run>

                    <Processing_Request>
                        <table>m2epro_processing_request</table>
                    </Processing_Request>

                    <!-- ACCOUNTS AND MARKETPLACES -->

                    <Account>
                        <table>m2epro_account</table>
                    </Account>
                    <Ebay_Account>
                        <table>m2epro_ebay_account</table>
                    </Ebay_Account>
                    <Amazon_Account>
                        <table>m2epro_amazon_account</table>
                    </Amazon_Account>
                    <Buy_Account>
                        <table>m2epro_buy_account</table>
                    </Buy_Account>
                    <Play_Account>
                        <table>m2epro_play_account</table>
                    </Play_Account>

                    <Marketplace>
                        <table>m2epro_marketplace</table>
                    </Marketplace>
                    <Ebay_Marketplace>
                        <table>m2epro_ebay_marketplace</table>
                    </Ebay_Marketplace>
                    <Amazon_Marketplace>
                        <table>m2epro_amazon_marketplace</table>
                    </Amazon_Marketplace>
                    <Buy_Marketplace>
                        <table>m2epro_buy_marketplace</table>
                    </Buy_Marketplace>
                    <Play_Marketplace>
                        <table>m2epro_play_marketplace</table>
                    </Play_Marketplace>

                    <!-- TEMPLATES -->

                    <Template_General>
                        <table>m2epro_template_general</table>
                    </Template_General>
                    <Ebay_Template_General>
                        <table>m2epro_ebay_template_general</table>
                    </Ebay_Template_General>
                    <Amazon_Template_General>
                        <table>m2epro_amazon_template_general</table>
                    </Amazon_Template_General>
                    <Buy_Template_General>
                        <table>m2epro_buy_template_general</table>
                    </Buy_Template_General>
                    <Play_Template_General>
                        <table>m2epro_play_template_general</table>
                    </Play_Template_General>

                    <Template_SellingFormat>
                        <table>m2epro_template_selling_format</table>
                    </Template_SellingFormat>
                    <Ebay_Template_SellingFormat>
                        <table>m2epro_ebay_template_selling_format</table>
                    </Ebay_Template_SellingFormat>
                    <Amazon_Template_SellingFormat>
                        <table>m2epro_amazon_template_selling_format</table>
                    </Amazon_Template_SellingFormat>
                    <Buy_Template_SellingFormat>
                        <table>m2epro_buy_template_selling_format</table>
                    </Buy_Template_SellingFormat>
                    <Play_Template_SellingFormat>
                        <table>m2epro_play_template_selling_format</table>
                    </Play_Template_SellingFormat>

                    <Template_Description>
                        <table>m2epro_template_description</table>
                    </Template_Description>
                    <Ebay_Template_Description>
                        <table>m2epro_ebay_template_description</table>
                    </Ebay_Template_Description>
                    <Amazon_Template_Description>
                        <table>m2epro_amazon_template_description</table>
                    </Amazon_Template_Description>
                    <Buy_Template_Description>
                        <table>m2epro_buy_template_description</table>
                    </Buy_Template_Description>
                    <Play_Template_Description>
                        <table>m2epro_play_template_description</table>
                    </Play_Template_Description>

                    <Template_Synchronization>
                        <table>m2epro_template_synchronization</table>
                    </Template_Synchronization>
                    <Ebay_Template_Synchronization>
                        <table>m2epro_ebay_template_synchronization</table>
                    </Ebay_Template_Synchronization>
                    <Amazon_Template_Synchronization>
                        <table>m2epro_amazon_template_synchronization</table>
                    </Amazon_Template_Synchronization>
                    <Buy_Template_Synchronization>
                        <table>m2epro_buy_template_synchronization</table>
                    </Buy_Template_Synchronization>
                    <Play_Template_Synchronization>
                        <table>m2epro_play_template_synchronization</table>
                    </Play_Template_Synchronization>

                    <!-- LISTINGS -->

                    <Listing_Category>
                        <table>m2epro_listing_category</table>
                    </Listing_Category>

                    <Listing_Log>
                        <table>m2epro_listing_log</table>
                    </Listing_Log>
                    <Listing_Other_Log>
                        <table>m2epro_listing_other_log</table>
                    </Listing_Other_Log>

                    <Listing_Other>
                        <table>m2epro_listing_other</table>
                    </Listing_Other>
                    <Ebay_Listing_Other>
                        <table>m2epro_ebay_listing_other</table>
                    </Ebay_Listing_Other>
                    <Amazon_Listing_Other>
                        <table>m2epro_amazon_listing_other</table>
                    </Amazon_Listing_Other>
                    <Buy_Listing_Other>
                        <table>m2epro_buy_listing_other</table>
                    </Buy_Listing_Other>
                    <Play_Listing_Other>
                        <table>m2epro_play_listing_other</table>
                    </Play_Listing_Other>

                    <Listing>
                        <table>m2epro_listing</table>
                    </Listing>
                    <Ebay_Listing>
                        <table>m2epro_ebay_listing</table>
                    </Ebay_Listing>
                    <Amazon_Listing>
                        <table>m2epro_amazon_listing</table>
                    </Amazon_Listing>
                    <Buy_Listing>
                        <table>m2epro_buy_listing</table>
                    </Buy_Listing>
                    <Play_Listing>
                        <table>m2epro_play_listing</table>
                    </Play_Listing>

                    <Listing_Product>
                        <table>m2epro_listing_product</table>
                    </Listing_Product>
                    <Ebay_Listing_Product>
                        <table>m2epro_ebay_listing_product</table>
                    </Ebay_Listing_Product>
                    <Amazon_Listing_Product>
                        <table>m2epro_amazon_listing_product</table>
                    </Amazon_Listing_Product>
                    <Buy_Listing_Product>
                        <table>m2epro_buy_listing_product</table>
                    </Buy_Listing_Product>
                    <Play_Listing_Product>
                        <table>m2epro_play_listing_product</table>
                    </Play_Listing_Product>

                    <Listing_Product_Variation>
                        <table>m2epro_listing_product_variation</table>
                    </Listing_Product_Variation>
                    <Ebay_Listing_Product_Variation>
                        <table>m2epro_ebay_listing_product_variation</table>
                    </Ebay_Listing_Product_Variation>
                    <Amazon_Listing_Product_Variation>
                        <table>m2epro_amazon_listing_product_variation</table>
                    </Amazon_Listing_Product_Variation>
                    <Buy_Listing_Product_Variation>
                        <table>m2epro_buy_listing_product_variation</table>
                    </Buy_Listing_Product_Variation>
                    <Play_Listing_Product_Variation>
                        <table>m2epro_play_listing_product_variation</table>
                    </Play_Listing_Product_Variation>

                    <Listing_Product_Variation_Option>
                        <table>m2epro_listing_product_variation_option</table>
                    </Listing_Product_Variation_Option>
                    <Ebay_Listing_Product_Variation_Option>
                        <table>m2epro_ebay_listing_product_variation_option</table>
                    </Ebay_Listing_Product_Variation_Option>
                    <Amazon_Listing_Product_Variation_Option>
                        <table>m2epro_amazon_listing_product_variation_option</table>
                    </Amazon_Listing_Product_Variation_Option>
                    <Buy_Listing_Product_Variation_Option>
                        <table>m2epro_buy_listing_product_variation_option</table>
                    </Buy_Listing_Product_Variation_Option>
                    <Play_Listing_Product_Variation_Option>
                        <table>m2epro_play_listing_product_variation_option</table>
                    </Play_Listing_Product_Variation_Option>

                    <!-- TRANSLATION -->

                    <Translation_Language>
                        <table>m2epro_translation_language</table>
                    </Translation_Language>
                    <Translation_Text>
                        <table>m2epro_translation_text</table>
                    </Translation_Text>
                    <Translation_CustomSuggestion>
                        <table>m2epro_translation_custom_suggestion</table>
                    </Translation_CustomSuggestion>

                    <!-- ORDERS -->

                    <Order_Log>
                        <table>m2epro_order_log</table>
                    </Order_Log>
                    <Order_Change>
                        <table>m2epro_order_change</table>
                    </Order_Change>
                    <Order_Repair>
                        <table>m2epro_order_repair</table>
                    </Order_Repair>

                    <Order>
                        <table>m2epro_order</table>
                    </Order>
                    <Ebay_Order>
                        <table>m2epro_ebay_order</table>
                    </Ebay_Order>
                    <Amazon_Order>
                        <table>m2epro_amazon_order</table>
                    </Amazon_Order>
                    <Buy_Order>
                        <table>m2epro_buy_order</table>
                    </Buy_Order>
                    <Play_Order>
                        <table>m2epro_play_order</table>
                    </Play_Order>

                    <Order_Item>
                        <table>m2epro_order_item</table>
                    </Order_Item>
                    <Ebay_Order_Item>
                        <table>m2epro_ebay_order_item</table>
                    </Ebay_Order_Item>
                    <Amazon_Order_Item>
                        <table>m2epro_amazon_order_item</table>
                    </Amazon_Order_Item>
                    <Buy_Order_Item>
                        <table>m2epro_buy_order_item</table>
                    </Buy_Order_Item>
                    <Play_Order_Item>
                        <table>m2epro_play_order_item</table>
                    </Play_Order_Item>

                    <!-- EBAY -->

                    <Ebay_Item>
                        <table>m2epro_ebay_item</table>
                    </Ebay_Item>

                    <Ebay_Message>
                        <table>m2epro_ebay_message</table>
                    </Ebay_Message>

                    <Ebay_Feedback>
                        <table>m2epro_ebay_feedback</table>
                    </Ebay_Feedback>
                    <Ebay_Feedback_Template>
                        <table>m2epro_ebay_feedback_template</table>
                    </Ebay_Feedback_Template>

                    <Ebay_Motor_Specific>
                        <table>m2epro_ebay_motor_specific</table>
                    </Ebay_Motor_Specific>
                    <Ebay_Template_General_CalculatedShipping>
                        <table>m2epro_ebay_template_general_calculated_shipping</table>
                    </Ebay_Template_General_CalculatedShipping>
                    <Ebay_Template_General_Payment>
                        <table>m2epro_ebay_template_general_payment</table>
                    </Ebay_Template_General_Payment>
                    <Ebay_Template_General_Shipping>
                        <table>m2epro_ebay_template_general_shipping</table>
                    </Ebay_Template_General_Shipping>
                    <Ebay_Template_General_Specific>
                        <table>m2epro_ebay_template_general_specific</table>
                    </Ebay_Template_General_Specific>

                    <Ebay_Order_ExternalTransaction>
                        <table>m2epro_ebay_order_external_transaction</table>
                    </Ebay_Order_ExternalTransaction>

                    <!-- AMAZON -->

                    <Amazon_Item>
                        <table>m2epro_amazon_item</table>
                    </Amazon_Item>

                    <Amazon_Template_NewProduct>
                        <table>m2epro_amazon_template_new_product</table>
                    </Amazon_Template_NewProduct>
                    <Amazon_Template_NewProduct_Specific>
                        <table>m2epro_amazon_template_new_product_specific</table>
                    </Amazon_Template_NewProduct_Specific>
                    <Amazon_Template_NewProduct_Description>
                        <table>m2epro_amazon_template_new_product_description</table>
                    </Amazon_Template_NewProduct_Description>

                    <!-- BUY -->

                    <Buy_Item>
                        <table>m2epro_buy_item</table>
                    </Buy_Item>
                    <Buy_Template_NewProduct>
                        <table>m2epro_buy_template_new_product</table>
                    </Buy_Template_NewProduct>

                    <Buy_Template_NewProduct_Core>
                        <table>m2epro_buy_template_new_product_core</table>
                    </Buy_Template_NewProduct_Core>

                    <Buy_Template_NewProduct_Attribute>
                        <table>m2epro_buy_template_new_product_attribute</table>
                    </Buy_Template_NewProduct_Attribute>

                    <!-- PLAY -->

                    <Play_Item>
                        <table>m2epro_play_item</table>
                    </Play_Item>

                </entities>
            </M2ePro_mysql4>
        </models>
        <resources>
            <M2ePro_setup>
                <setup>
                    <module>Ess_M2ePro</module>
                    <class>Ess_M2ePro_Model_Upgrade_MySqlSetup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </M2ePro_setup>
            <M2ePro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </M2ePro_write>
            <M2ePro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </M2ePro_read>
        </resources>
        <blocks>
            <M2ePro>
                <class>Ess_M2ePro_Block</class>
            </M2ePro>
            <adminhtml>
                <rewrite>
                    <page_menu>Ess_M2ePro_Block_Adminhtml_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <M2ePro>
                <class>Ess_M2ePro_Helper</class>
            </M2ePro>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <M2ePro_cron>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>M2ePro/Cron::process</model>
                </run>
            </M2ePro_cron>
        </jobs>
        <events>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <m2epro_cron_giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>salesEventConvertQuoteItemToOrderItem</method>
                    </m2epro_cron_giftmessage>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_order_item_save_commit_after>
                <observers>
                    <m2epro_cron_downloadable_observer>
                        <class>downloadable/observer</class>
                        <method>saveDownloadableOrderItem</method>
                    </m2epro_cron_downloadable_observer>
                </observers>
            </sales_order_item_save_commit_after>
            <sales_order_save_commit_after>
                <observers>
                    <m2epro_cron_downloadable_observer>
                        <class>downloadable/observer</class>
                        <method>setLinkStatus</method>
                    </m2epro_cron_downloadable_observer>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </crontab>
</config>