/* Locked Styles */
/* ================================================ */

div.locked_block {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 999;
}

div.locked_block div.locked_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000);
}

div.locked_block div.locked_wrapper div {
    position: relative;
    top: 45%;
    text-align: center;
    font-size: 22px;
    color: white;
}

/* ================================================ */

/* Controls Styles */
/* ================================================ */

button.button_link {
    background-color: #FFFFFF !important;
    background-image: url("../../images/btn_back_bg.gif") !important;
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC !important;
    color: #555555 !important;
}

button.next > span {
    background-position: 100% 50%;
    padding-right: 20px !important;
    padding-left: 0 !important;
    background-image: url("../images/next.gif") !important;
}

/*
For Magento GO

button.next span span span {
    background-position: 100% 50%;
    background-repeat: no-repeat !important;
    padding-right: 20px !important;
    padding-left: 0 !important;
    background-image: url("../images/next.gif") !important;
}*/

button.search > span {
    background-position: 0% 50%;
    padding-left: 18px !important;
    padding-right: 0 !important;
    background-image: url("../images/search.gif") !important;
}

/*
For Magento GO

button.search span span span {
    background-position: 0% 50% !important;
    background-repeat: no-repeat !important;
    padding-left: 18px !important;
    padding-right: 0 !important;
    background-image: url("../images/search.gif") !important;
}*/

select.locked_selected {
    color: gray !important;
    font-weight: bold !important;
}

select.locked_selected option[value="0"] {
    color: black !important;
    font-weight: normal !important;
}

select.hightlight_selected {
    color: green !important;
    font-weight: bold !important;
}

select.hightlight_selected option[value="0"] {
    color: black !important;
    font-weight: normal !important;
}

select.lacklustre_selected {
    color: black !important;
}

select.lacklustre_selected option[value="1"] {
    color: green !important;
    font-weight: bold !important;
}

/* ================================================ */

/* Grid Filter Styles */
/* ================================================ */

.filter_block {
    display: table;
    width: 100% !important;
    margin-bottom: 10px !important;
    border: 1px solid #CDDDDD !important;
    background: none repeat scroll 0 0 #E7EFEF !important;
}

.filter_block p {
    float: left !important;
    border: none !important;
    padding-right: 20px !important;
    margin-bottom: 0 !important;
    background: none !important;
}

/* ================================================ */

/* Errors Summary */
/* ================================================ */

.errors_summary {
    padding: 8px 15px !important;
    margin-bottom: 10px !important;
    border: 1px dashed #FF7A7A !important;
    background-color: #FFF7EA !important;
}

.errors_summary_title {
    margin-bottom: 10px !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: gray !important;
}

.errors_summary_title a {
    text-decoration: none !important;
}

.errors_summary_close {
    float: right !important;
    font-weight: bold !important;
    font-size: 14px !important;
    text-decoration: none !important;
}

.errors_summary_content {
    max-height: 125px !important;
    overflow: auto !important;
}

.errors_summary_line {
    margin-bottom: 5px !important;
}

.errors_summary_type {
    float: left !important;
    width: 135px !important;
    text-align: center !important;
    font-weight: bold !important;
    color: red !important;
}

.errors_summary_text {
    margin-left: 150px !important;
}

/* ================================================ */

/* Grid Help Line Styles */
/* ================================================ */

td.help_line {
    text-align: center !important;
    padding: 5px 20px 10px !important;
    border: 1px solid silver !important;
}

td.help_line .hl_header {
    padding: 0 0 5px !important;
    text-align: center !important;
}

td.help_line .hl_header a {
    text-decoration: none !important;
}

td.help_line .hl_title {
    font-weight: bold !important;
    font-size: 14px !important;
    color: gray !important;
}

td.help_line .hl_close {
    float: right !important;
    font-weight: bold !important;
    font-size: 14px !important;
    text-decoration: none !important;
}

td.help_line .hl_container {
    text-align: left !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
}

td.help_line .hl_container_success {
    border: 1px dashed #04DD04 !important;
    background-color: #E7FFE5 !important;
}

td.help_line .hl_container_warning {
    border: 1px dashed #FCE220 !important;
    background-color: #FFFFE2 !important;
}

td.help_line .hl_container_error {
    border: 1px dashed #FF7A7A !important;
    background-color: #FFF7EA !important;
}

td.help_line .hl_date {
    float: left !important;
    width: 160px !important;
    height: 20px !important;
    text-align: center !important;
    border-right: 1px solid silver !important;
    border-bottom: 1px solid silver !important;
    font-weight: bold !important;
}

td.help_line .hl_action {
    display: table !important;
    margin-left: 175px !important;
    padding-left: 10px !important;
    padding-bottom: 2px !important;
    padding-right: 10px !important;
    border-bottom: 1px solid silver !important;
    color: black !important;
}

td.help_line .hl_messages_type {
    float: left !important;
    width: 160px !important;
    text-align: center !important;
}

td.help_line .hl_messages_type span {
    font-weight: bold !important;
}

td.help_line .hl_messages_text {
    margin-left: 175px !important;
    padding-left: 10px !important;
}

td.help_line .hl_footer {
    float: right !important;
}
/* ================================================ */

/* Wizard Notification */
/* ================================================ */
.wizard-note {
    background: url(../images/wizard-note.png) 48px 38px #E7FFE5 no-repeat;
    border: dashed 1px #04DD04;
    border-radius: 5px;
    margin: 0 0 20px 0;
    width: 100%;
}

.wizard-note div {
    font-size: 14px;
    color: #555555;
    padding: 50px 130px;
}

.wizard-close {
    font-size: 2em !important;
    color: #04DD04 !important;
    text-decoration: none;
    float: right;
    margin: 5px 10px;
}

a.wizard-close:hover {
    text-decoration: none;
}

/* ================================================ */